<div class="pic-content-wrapper pic-{{ include.pos | default: 'left' }}">
  <div class="pic-image">
    <img {%
    if include.max %}style="max-width:{{include.max}}px" {%
    endif %}src="{%
    if include.src %}{{ include.src | prepend: site.baseurl }}{%
    else %}{{ '/images/pic04.jpg' | prepend: site.baseurl }}{%
    endif %}" alt="{%
    if include.alt %}{{ include.alt }}{%
    endif %}" />
  </div>
  <div class="pic-content">
    {{ include.content }}
  </div>
</div>
<div style="clear: both;"></div>
